page {
  background-color: #f5f6f8;
  color: #1f2329;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft YaHei", sans-serif;
}

button::after {
  border: none;
}
